<?xml version="1.0"?>
<config>
  <global>
    <page>
      <layouts>
        <homepage_layout translate="label">
          <label>Homepage Layout</label>
          <template>page/homepage.phtml</template>
        </homepage_layout>

        <collections_layout translate="label">
          <label>Collections Layout</label>
          <template>page/collections.phtml</template>
        </collections_layout>
      </layouts>
    </page>
  </global>
</config>